/arcolinux-tweak-tool/
/arcolinux-welcome-app/
/Atom/
/balena-etcher/
/BraveSoftware/
/cef_user_data/
/chromium/
/configstore/
/darktable/
/evolution/
/fontforge/
/galculator/
/gconf/
/ghb/
/goa-1.0/
/gtk-2.0/
/gtk-3.0/
/htop/
/jgit/
/Kingsoft/
/libreoffice/
/Mailspring/
/msmtp/
/pulse/
/qt5ct/
/RawTherapee/
/ristretto/
/smartgit/
/spotify/
/sublime-text-3/
/totem/
/trizen/
/VirtualBox/
/volumeicon/
/whatsapp-nativefier-d40211/
/xfce4/
/vlc/
/variety/
/yay/
